{% extends 'blog/layout.html' %}
{% block title %} About Us {% endblock %}

{% block content %}
	<div id="about">
	<h3 class="heading">About Us</h3>
<p>Brainy codelab is a coding acadeny that guides people from all backgrounds to change their lives through career-focused education. We shape passionate coders wwith immersive training to meet industry need and improve diversity in tech.</p>
<p>We inspire students through innovative curricula and personalized training, focused on their natural ability to achieve and learn. Our hands-on, project focused format, fosters a productive leatning experience readying them for a life time of problem solving and innovation. </p>
<p>Our educational approach does not focus on teaching our students a particular language or technology but instead on how to think as a software engineer with the ability to teach themselves abt technology but instead on their own. Infact , we believe the majority of the bootcanp participants would go on to work with other languages and frameworks than the ones we would teach in class</p>
</div>
{% endblock %}